[logging]
path=./
mode=w+
stream_level=debug
file_level=debug
size_max=0
cache_max=1024*1024
interval=60

[main]
ip=0.0.0.0
port=12340
epoll_wait=1000


# <LOGGING LEVEL>
# none = -1,              /* none logging */
# emergency,              /* application is unusable */
# alert,                  /* action must be taken immediately */
# critical,               /* critical conditions */
# error,                  /* error conditions */
# warning,                /* warning conditions */
# notice,                 /* normal but significant condition */
# info,                   /* informational */
# debug,                  /* debug-level messages */

# epoll_wait, in milliseconds

